@import url('https://fonts.googleapis.com/css?family=Ultra');

body {
	text-align: center;
}

.container {
	width: 800px;
	margin: 100px auto;
}

h1 {
	font-family: 'Ultra', serif;
}

button {
	font-size: 18px;
	padding: 5px;
}

p {
	font-size: 24px;
}
